/.ipynb_checkpoints
/ESSP4/UnitTests/.ipynb_checkpoints
/ExampleCode/.ipynb_checkpoints
/__pycache__
/Scripts/.ipynb_checkpoints
UnitTests/.DS_Store
/Scripts/.ipynb_checkpoints
/Scripts/.ipynb_checkpoints
